.banner{
    background-image: url(images/Banner\ Image.png);
    width: 1300px;
    height: 600px;
    color: #FFFFFF;
    position:relative ;

}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    
    

}